*{
    margin:0;
    padding:0;
}

::-webkit-scrollbar {
    width: 0px;
    height:5px;
}

body{ 
    background-image: linear-gradient(120deg, #560bad, #4361ee);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title{
    text-align: center;
    color:white;
    font-family: 'Poppins' sans-serif;
    font-size: 4em;
}

.parent{
    width:700px;
    margin:auto;
    margin-top: 20px;
}

.todos{
    width:70%;
    margin:auto;
    text-align: center;
}

.todos input{
    background-color:rgba(255, 255, 255, 0.904);
    width:70%;
    height:35px;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    text-align: center;
    
}

.todos input:focus{
    border: none;
}

.todos button{
    background-color:rgb(51,212,100);
    color:white;
    border:none;
    border-radius: 40%;
    cursor:pointer;
    padding: 6px;
    font-family:'Candal',sans-serif;
}

.todo-list{
    margin-top: 20px;
}

.todo-list ul{
    width:100%;
    margin:auto;
    list-style: none;
}

.container{
    background-color: rgba(255, 255, 255, 0.212);
    padding:10px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.outer_div{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding:5px;
    display: flex;
    border-radius: 10px;
}

.list_item{
    background-color:rgba(255, 255, 255, 0.774);
    height:50px;
    width:500px;
    font-size: 30px;
    padding-bottom:10px;
    white-space: nowrap;
    overflow-y: hidden; 
    overflow-x: scroll;
    
}

.list_icon{
    width:200px;
    padding:5px;
    padding-top:15px;
    margin-left: 5px;
}

.list_icon button{
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.list_icon  i{
    background-color:white;
    font-size:25px;
}

@media screen and (max-width:700px) {
    #title{ font-size: 2em;}
    .parent{
        width:350px;
        margin-top: 5px;
    }
    .todo-list{ margin-top: 5px; }
    .container{ padding:5px; }
}